:root{
    --hauteur-menu:10px;
    --couleur-grise: rgba(114, 107, 107, 0.404);
}

@font-face {
    font-family: channel;
    src: url("/Vignoble/ressources/fonts/channel-webfont.ttf") format("truetype"),
    url("/Vignoble/ressources/fonts/channel-webfont.woff") format("woff"),
    url("/Vignoble/ressources/fonts/channel-webfont.svg") format("svg");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/Vignoble/ressources/images/bg_motif.gif");
}
a, h2 {
    font-family: channel;
}

header {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px rgba(255, 255, 255, 0.726) solid;
    height: 4em;
    z-index: 1000;
}

header > img {
    position: absolute;
    top: 60%;
    left: 10%;

}

header nav {
    margin-left: 50%;
    width: 50%;
}

.menu {
    width: 100%;
    padding-top: 1em;
    float: inline-start;
}

.menu li {
    list-style: none;
}

    .menu > li {
    display: inline-block;
    padding-left: 3%;
    width: 15%;
    right: 0;
}

.menu > li a{
    color: white;
    text-decoration: none;
    padding: 3%;
    text-align: center;
    display: block;
}

.menu a:hover{
    color: red;
}

.submenu {
    display: none;
    position: absolute;
    
}

.menu li:hover .submenu {
    display: block;
}

.submenu a {
    border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.50);
}

main {
    margin-left: 15%;
    margin-right: 15%;
    padding: 2em;
    background-color: var(--couleur-grise);
}

main > figure {
    background-color: white;
}

main > figure > img {
    width: 100%;
}

main > figure figcaption {
    padding: 1ex;
    border-top: solid 2px var(--couleur-grise);
    color: darkred;
    font-size:large;
    text-align: center;
    font-family: channel;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em;
}

.grid-container {
    background-image: url("/Vignoble/ressources/images/bg_g.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5em;
    max-width: 350px;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4em auto 6em;
    grid-template-areas: "title logo"
    "text text"
    "link link";
}

.grid-container > h2 {
    grid-area: title;
    text-align: center;
    color: white;
}

.grid-container > img {
    grid-area: logo;
}

.grid-container > p {
    grid-area: text;
}

.button-grid-container{
    grid-area: link;
}
.button {
    text-align: center;
    padding-top: 2em;
    transition: all 1s;
}

.button:hover {
    transform: rotate(-10deg) scale(1.2);
}

.button > a {
    color: white;
    background-color: grey;
    padding: 1ex;
}


.button:hover > a {
    color: darkred;
    text-shadow: 0 0 4px white;
}

.container-wine {
    display: grid ;
    grid-template-columns: 35% 65% ;
    grid-template-rows: auto;
    grid-template-areas: "selection gifts";
    column-gap: 15px ;

}
.flex-selection {
    display: flex;
    flex-direction: column;
    background-color: rgba(114, 108, 108, 0.63);
    padding: 15px 0;
}

.flex-selection h2 {
    text-align: center;
    color: white;
}
.flex-selection ul {
    /* list-style: inside url("/Vignoble/ressources/images/liste.png"); */
    padding: 0;
    list-style: none;
    
}
.flex-selection li {
    border-top: solid 1px rgb(204, 204, 204);
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-wrap: break-word;
}

.flex-selection li::before {
    content: ">>";
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    border: 3px rgba(0, 0, 0, 0.4) solid;
    border-radius: 50%;
}

.flex-selection li:last-child {
    border-bottom: solid 1px rgb(204, 204, 204);
}

.gifts {
    background-color: var(--couleur-grise);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 50px;
    /* background-color: rgb(152, 121, 160); */
    /* align-items: center; */
    column-gap: 20px;
}

.gifts-title {
    grid-column: 1 / 3;
    grid-row: 1 ;
    display: grid;
    justify-content: center;
    align-items: center;
}

.gifts img {
   
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: white solid 3px;
    margin: 5px;
}

.gifts text {
    grid-column: 2;
    grid-row: 2;
    width: 110%;
}

.gifts h5 {
    color:white;
    font-size: 20px;
    text-align:center;
}

.gifts p {
    padding-top: 5px;
    padding-left: 5px;
}
.moche {
    display: grid;
    grid-column: 2;
    grid-row: 3 / 4;
    align-items: center;
    justify-content: center;    
}  
footer{
    background-image: url("/Vignoble/ressources/images/footer-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2em;
} 
footer nav{
    display:grid;
    grid-template-columns: repeat(5,1fr) 200px;
    grid-template-rows:2;
    grid-template-areas:"Accueil Cave vigneron produits contact ."
    ". . . . . img";
}
.footer-picture{
    grid-area: img;
}




