:root{
    --hauteur-menu:10px;
    --couleur-grise: rgba(167, 165, 165, 0.6);
}

@font-face {
    font-family: channel;
    src: url("/Vignoble/ressources/fonts/channel-webfont.ttf") format("truetype"),
    url("/Vignoble/ressources/fonts/channel-webfont.woff") format("woff"),
    url("/Vignoble/ressources/fonts/channel-webfont.svg") format("svg");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/Vignoble/ressources/images/bg_motif.gif");
}
a, h2 {
    font-family: channel;
}

header {
    position: sticky;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px rgba(255, 255, 255, 0.726) solid;
    height: 4em;
}

header > img {
    position: absolute;
    top: 60%;
    left: 10%;

}

header nav {
    margin-left: 50%;
    width: 50%;
}

.menu {
    padding-top: 1em;
}

.menu li {
    list-style: none;
}

.menu > li {
    float: inline-end;
    width: 20%;
    right: 0;
}

.menu > li a{
    color: white;
    text-decoration: none;
    padding: 3%;
    text-align: center;
    display: block;
}

.menu a:hover{
    color: red;
}

.submenu {
    display: none;
}

.menu li:hover .submenu {
    display: block;
}

.submenu a {
    border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.50);
}

main {
    margin-left: 15%;
    margin-right: 15%;
    padding: 2em;
    background-color: var(--couleur-grise);
}

main > figure {
    background-color: white;
}

main > figure > img {
    width: 100%;
}

main > figure figcaption {
    padding: 1ex;
    border-top: solid 2px var(--couleur-grise);
    color: darkred;
    font-size:large;
    text-align: center;
    font-family: channel;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em;
}

.grid-container {
    background-image: url("/Vignoble/ressources/images/bg_g.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5em;
    max-width: 350px;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4em auto 6em;
    grid-template-areas: "title logo"
    "text text"
    "link link";
}

.grid-container > h2 {
    grid-area: title;
    text-align: center;
}

.grid-container > img {
    grid-area: logo;
}

.grid-container > p {
    grid-area: text;
}

.grid-container > div {
    grid-area: link;
    text-align: center;
    padding-top: 2em;

    transition: all 1s;
}

.grid-container a {
    border: 2px solid white;
    background-color: grey;
    color: black;
    padding: 1ex;
}


.grid-container div:hover {
    transform: rotate(-10deg) scale(1.2);
}

.grid-container div:hover > a {
    color: darkred;
}